# 다운로드한 신문 이미지/PDF를 저장할 폴더.
# 비워두면 프로젝트 안의 data/newspapers/ 폴더를 사용한다.
#
# 구글 드라이브 데스크톱 앱을 사용 중이라면, 그 앱이 동기화하는 폴더 경로를
# 적어두면 다운로드 결과가 자동으로 구글 드라이브에도 올라간다.
#
# 예시 (Mac):
# NEWSPAPER_OUTPUT_DIR=/Users/본인이름/Library/CloudStorage/GoogleDrive-계정/내 드라이브/신문스크랩
NEWSPAPER_OUTPUT_DIR=
